.header {
  padding: 100px 100px;
  text-align: center;
  /* background-color: #f8f9fa; */
  /* color: #222; */
}

.header h1 {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: 600;
}

.header h1 span{
    background: linear-gradient(90deg, #FF6B6B, #FFD93D);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header p {
  font-size: 18px;
}

.header-action {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header-connect,
.header-resume {
  padding: 12px 24px;
  border-radius: 25px;
  background: linear-gradient(90deg, #f15656, #f6ce32);
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.header-connect:hover,
.header-resume:hover {
  transform: scale(1.05);
}

img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}
.about-left img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 50%; 
  border: 6px solid rgb(72, 65, 65);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}